{deps, [
  {boss, ".*", {git, "https://github.com/ChicagoBoss/ChicagoBoss.git", {tag, "v0.9.beta-1"}}},
  {totp, ".*", {git, "https://github.com/ibnfirnas/erlang-totp.git", {tag, "master"}}},
  {qrcode, ".*", {git, "https://github.com/komone/qrcode.git", {tag, "master"}}}
]}.
{plugin_dir, ["priv/rebar"]}.
{plugins, [boss_plugin]}.
{eunit_compile_opts, [{src_dirs, ["src/test"]}]}.
{lib_dirs, ["../ChicagoBoss/deps/elixir/lib"]}.


